android==1.0
asgiref==3.5.0
astroid==2.8.2
audiostream==0.2
beautifulsoup4==4.11.1
bidict==0.21.4
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.0.4
cmake @ file:///home/n0n3m4/Desktop/Pydroid/zBuildPrepared/cmake-3.20.3-py3-none-any.whl
cycler==0.11.0
decouple==0.0.7
distro==1.6.0
djangify==1.0.0
Django==4.0.3
dnspython==2.2.1
eventlet==0.33.0
Flask==2.0.3
Flask-SocketIO==5.1.1
Flask-SQLAlchemy==2.5.1
google==3.0.0
greenlet==1.1.2
idna==3.3
install==1.3.5
isort==5.9.3
itsdangerous==2.1.0
jedi==0.18.0
Jinja2==3.0.3
Kivy==2.0.0
kiwisolver==1.3.2
lazy-object-proxy==1.6.0
MarkupSafe==2.1.0
matplotlib==3.4.3
mccabe==0.6.1
netifaces==0.10.6
numpy==1.21.2
packaging==21.0
parso==0.8.2
Pillow==8.4.0
pkgconfig==1.5.5
platformdirs==2.4.0
pybind11==2.8.0
pycparser==2.21
pygame==2.0.1
pyjnius==1.3.0
pylint==2.11.1
pyparsing==2.4.7
PyQt5==5.15.4
PySDL2==0.9.7
python-dateutil==2.8.2
python-dotenv==0.19.2
python-engineio==4.3.1
python-socketio==5.5.2
requests==2.27.1
scikit-build==0.12.0
six==1.16.0
socketio==0.2.1
soupsieve==2.3.2.post1
SQLAlchemy==1.4.31
sqlparse==0.4.2
toml==0.10.2
typed-ast==1.4.3
typing-extensions==3.10.0.2
tzdata==2021.5
urllib3==1.26.8
websocket-client==1.3.1
Werkzeug==2.0.3
wrapt==1.13.1
